checkpoints/** filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_fulltest/** filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation/** filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/26_27/ensemble_bottle_1/true_vals.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/24_25/ensemble_bottle_1/bottleneck.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/24_25/ensemble_bottle_1/scores.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/24_25/ensemble_bottle_1/true_vals.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/28_29/ensemble_bottle_1/scores.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/22_23/ensemble_bottle_1/losses.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/26_27/ensemble_bottle_1/losses.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/28_29/ensemble_bottle_1/bottleneck.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/26_27/ensemble_bottle_1/scores.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/26_27/ensemble_bottle_1/valid_bottleneck.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/26_27/ensemble_bottle_1/valid_preds.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/28_29/ensemble_bottle_1/losses.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/28_29/ensemble_bottle_1/valid_preds.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/22_23/ensemble_bottle_1/scores.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/22_23/ensemble_bottle_1/valid_bottleneck.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/26_27/ensemble_bottle_1/bottleneck.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/24_25/ensemble_bottle_1/losses.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/24_25/ensemble_bottle_1/valid_bottleneck.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/24_25/ensemble_bottle_1/valid_preds.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/28_29/ensemble_bottle_1/true_vals.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/28_29/ensemble_bottle_1/valid_bottleneck.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/22_23/ensemble_bottle_1/bottleneck.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/22_23/ensemble_bottle_1/true_vals.csv filter=lfs diff=lfs merge=lfs -text
results/deep_mtl/neonatal_bottleneck_validation_per_gestage/22_23/ensemble_bottle_1/valid_preds.csv filter=lfs diff=lfs merge=lfs -text
